@font-face {
  font-family: "KGHappy";
  src: url("../fonts/KGHAPPY.ttf") format("truetype");
}
@font-face {
  font-family: "KGHappySolid";
  src: url("../fonts/KGHAPPYSolid.ttf") format("truetype");
}

body {
    margin: 0;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* PANTALLA DE INICIO */

.container {
    position: relative;
    background-image: url("../images/Designer (1).jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1500px;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#start-game-btn {
    position: absolute;
    left: 49.3%;
    bottom: 60px;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 310px;
    height: 90px;
    margin: 20px;
    border-radius: 40px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(231, 36, 36);
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
}
#start-game-btn:hover {
  background-color: rgba(255, 204, 74, 0.321);
}
#start-game-btn:active {
  transform: scale(0.9);
}
ul {
  position: absolute;
  top: 300px;
  left: 10px;
  padding: 10px;
  color: rgb(7, 6, 2);
  font-family: "KGHappySolid", sans-serif;
  font-size: small;
  text-align: justify;
  list-style: none;
  max-width: 250px;
}
#keyboard {
    position: absolute;
    bottom: 170px;
    left: 30px;
    width: 300px;
    height: 150px;
    background-image: url('../images/pngwing.com.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

/* PANTALLA DE JUEGO */
#game-screen {
  display: block;
}
#game-box {
  background-color: darkgray;
  width: 1180px;
  height: 665px;
  position: relative;
  overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
  user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */
  background-image: url("../images/parking.png");
  background-position: center;
  background-size: 79%;
  border-radius: 3px;
  border: 20px solid rgb(243, 182, 28);
}
#game-box * {
  pointer-events: none; /* previene que todos los elementos del game-box sean arrastrados al clickar sobre ellos */
}

#sidegame {
    position: absolute;
    top: 20px;
    left: 20px;
    flex-direction: column;
    align-items: baseline;
    color: rgb(0, 0, 0);
    font-family: "KGHappySolid", sans-serif;
    font-size: medium;
  }
  #sidegame #keyboard {
    position: absolute;
    top: 685px;
    left: 1195px;
    width: 300px;
    height: 150px;
  }

/* PANTALLA FINAL */
.container-over {
    position: relative;
    background-image: url("../images/Designer (2).jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1500px;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hidden {
  display: none;
}

#restart-game-btn {
    position: absolute;
    left: 48.2%;
    top: 128px;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 195px;
    height: 45px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(231, 36, 36);
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
}
#restart-game-btn:hover {
    background-color: rgba(172, 125, 6, 0.5);
}

#restart-game-btn:active {
    transform: scale(0.9);
}
h1 {
    position: absolute;
    color: white;
    font-family: "KGHappySolid", sans-serif;
    font-size: 45px;
    text-transform: uppercase ;
    top: 190px;
    left: 570px;
}
#best-scores {
    position: absolute;
    color: white;
    font-family: "KGHappySolid", sans-serif;
    font-size: 14px;
    text-transform: uppercase ;
    top: 330px;
    left: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    position: absolute;
    color: white;
    font-family: "KGHappySolid", sans-serif;
    font-size: 25px;
    text-transform: uppercase ;
    top: 255px;
    left: 630px;
}

/* PRIMEROS PASOS: -> para que aparezca únicamente la página inicial */
#game-screen,
#game-restart {
  display: none;
}
