body {
    margin: 0;
    background-color: lightgray;
  }
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-image: url("../images/Designer.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 98%;
    height: 800px
  }

.container h1 {
    font-size: 48px;
}
.container h2 {
    color: rgb(255, 255, 255)
}
.container p {
    font-size: 20px;
}

.container button {
width:400px;
height:100px;
margin: 10px;
padding:2px;
border-radius: 50px;
font-size: 50px;
text-transform: uppercase;
background-color: transparent;
transition: transform 0.3s ease-in-out;
}
.container button:hover {
    background-color: #467f9e75; /* Cambia el color al pasar el cursor sobre el botón */
}

.container button:active {
    transform: scale(0.90); /* Reduce ligeramente el tamaño del botón cuando se hace clic */
}

#game-screen {
    display: block;
}
#game-box {
    background-color: darkgray;
    width:1180px;
    height:665px;
  
    position: relative; /* permite posicionar los elementos de forma absoluta dentro del game-box */
    overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
    user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */
  
    background-image: url("../images/parking.png");
    background-position: center;
    background-size: 79%;
}
#game-box * {
    pointer-events: none; /* previene que todos los elementos del game-box sean arrastrados al clickar sobre ellos */
  }

#score h4{
    position: absolute;
    top: 10px;
    font-size: 24px;
}
.hidden {
    display: none;
}

/* PRIMEROS PASOS: -> para que aparezca únicamente la página inicial */
#game-screen, #game-restart {

    display: none;
  }